.signup-avatar {
	@apply text-white h-25 w-25 mx-auto bg-white rounded-full;
}
.signup-avatar svg{
	@apply rounded-full;
}

#tf-code {
	@apply flex gap-4 justify-between p-4;
}

#tf-code .spacer{
	width: 10px;
}

#tf-code input[type=number] {
	@apply text-3xl text-white text-center;
	-moz-appearance: textfield;
	width: 50px;
    caret-color: transparent;
}

#tf-code input[type=number]::-webkit-outer-spin-button,
#tf-code input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#qr-display {
	@apply flex gap-4 justify-center p-4;
}

#qr-display img {
    pointer-events: none;
    user-select: none;
	filter: invert(1);
	mix-blend-mode: inherit;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.2);
}

#twoFactorInterface {
	@apply hidden;
}

#twoFactorInterface.active {
	@apply block;
}