/* Your existing styles */
td svg, td img{
    @apply text-white h-10 w-10 mx-auto bg-white rounded-full object-cover object-center;
}

th {
    @apply text-left;
}

/* Add alternating row colors with transparency */
tr:nth-child(even) {
    @apply bg-gray-100/[.1];
}

/* Add vertical padding to all table rows */
tr td, tr th {
    @apply p-2;
}

thead {
	@apply border-b-1 border-b-white;
}

.invited-lobby-row {
	background-color: rgba(255, 255, 255, 0.05); /* subtle transparency */
	border-left: 4px solid #38bdf8; /* sky-blue stripe */
	font-weight: 500;
}

.btn-accent {
	background-color: #38bdf8;
	color: white;
}
