h1 {
	@apply font-semibold text-2xl text-white mb-2 tracking-wide;
}
h2 {
	@apply font-semibold text-white mb-2 tracking-wide;
}

* {
	@apply text-white;
}

p a {
	text-decoration: underline;
	transition: 0.2s;
}

p a:hover {
	opacity: 0.7;
	text-decoration: none;
}