<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jogbgvfginkt nach Kaka</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@4/dist/tailwind.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/styles/main.css">
</head>

<body class="bg-red-500">
	<header>
		TTTT
		<nav class="p-4">
			<ul class="btn-group">
				<li>
					<a href="/" class="btn btn-primary">Home</a>
				</li>
				<li>
					<a href="/hello" class="btn btn-secondary">Hello</a>
				</li>
			</ul>
		</nav>
		
	</header>
	<main>